<main class="main">
  <form class="form-user" action="{{ action }}" method="POST">
    <label for="user">Email:</label>
    <input type="text" name="usuario" id="user" value="{{usuario}}">
    {{#if errores.repetido}}
    <p class="message-error">El email ya existe.</p>
    {{/if}}
    {{#if errores.usuario}}
    <p class="message-error">{{errores.usuario}}</p>
    {{/if}}
    {{#if err.errors.usuario}}
    <p class="message-error">{{err.errors.usuario}}</p>
    {{/if}}
    {{#if nomatch}}
    <p class="message-error">El email introducido no está registrado</p>
    {{/if}}
    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" value="{{password}}">
    {{#if errores.password}}
    <p class="message-error">{{errores.password}}</p>
    {{/if}}
    {{#if err.errors.password}}
    <p class="message-error">{{err.errors.password}}</p>
    {{/if}}
    {{#if inactive}}
    <p class="message-error">Necesitas confirmar tu cuenta a través del email</p>
    {{/if}}
    {{#if passfalse}}
    <p class="message-error">El password no coincide</p>
    {{/if}}
    {{#if message}}
    <p class="message-ok">El usuario ha sido creado con éxito. Confírmelo a través de su email.</p>
    {{/if}}
    <div class="form-buttons">
      <input type="button" id="buttonHome" value="Inicio">
      <input type="submit" value="{{ value }}">
    </div>
  </form>
</main>